.LogoSearch {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 56px;

    .logo {
        width: 40px;
        height: 40px;
    }

    .Search {
        display: flex;
        background-color: var(--inputColor);
        border-radius: 10px;
        padding: 5px;
        height: 70%;

        input {
            background: transparent;
            border: none;
            outline: none;
        }

        .s-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(75deg, #f99827, #f95f35 60%);
            border-radius: 5px;
            padding: 6px 3px 4px;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }
}